// app global css in SCSS form

.q-drawer {
    background-color: transparent !important;
}

.q-card {
    border-radius: 10px;
}

iframe {
    display: block;
    border-radius: 10px;
    border: none;
    outline: none;
}

.skills-container {
    .q-scrollarea__content {
        width: 100% !important;
    }
}
